@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
  .header-btn-mobile {
    display: none;
  }
  .hero-container {
    max-width: 100%;
  }
  .hero-title {
    font-size: 48px;
  }
  .hero-text {
    max-width: 320px;
  }
}
