:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #303030;
  --accent-color: #ff6c00;
  --secondary-fonts: "Raleway", sans-serif;
  --basic-margin: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 160px;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  color: var(--main-title-color);
  padding: 12px 20px;
}
.title {
  font-family: var(--secondary-fonts);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.subtitle::before {
  content: " ";
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: currentColor;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Header */
.header {
  background-color: gray;
  padding: 32px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 131px;
}
.header-list {
  display: flex;
  gap: 30px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-left: auto;
  margin-right: 43px;
}
.header-btn {
  min-width: 160px;
}
/* Hero section */

.hero-container {
  display: flex;
}
.hero-list {
  width: 100px;
}

.hero-content {
  background-color: gray;
  padding: 276px 100px 208px;
  flex-grow: 1;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/barber-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.hero-title {
  font-family: var(--secondary-fonts);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
}
.hero-text {
  width: 360px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* About section */
.about-section {
  padding: 120px 0;
}
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  margin-right: 30px;
  width: 50%;
}
.about-item {
  width: calc((100% - 30px) / 2);
}
.about-content {
  width: 50%;
  max-width: 470px;
}
.about-sabtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.about-title {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.about-item {
  width: 50%;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-text span {
  display: block;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: var(--basic-margin);
}
.about-btn {
  color: var(--secondary-title-color);
}
/* Services section */
.prices-section {
  padding: 120px 0;
  background-image: url(../img/services-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #111319;
}
.prices-subtitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--basic-margin);
}
.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.prices-content {
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
  width: calc((100%-30px) / 2);
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.prices-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.prices-item:not(:last-child) {
  margin-bottom: var(--basic-margin);
}
.prices-item::before {
  content: " ";
  display: inline-block;
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-item-text:first-child {
  order: -1;
}
.prices-btn {
  color: var(--main-title-color);
  display: block;
  margin: auto;
}
/* Section feature */
.feature-section {
  padding: 120px 0;
}
.feature-container {
  display: flex;
}
.feature-list {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  padding-left: 70px;
  padding-right: 70px;
}
.feature-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background-color: #f7f7f7;
}
.feature-item:nth-child(even) {
  margin-top: 30px;
}
.feature-item span {
  display: flex;
  align-items: flex-start;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-title-color);
}
.feature-item > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent-color);
}
.feature-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--secondary-title-color);
}
.feature-content {
  width: 55%;
  max-width: 500px;
}
.feature-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.feature-title {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.feature-desc {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  width: 500px;
}
/* Section Team */
.team-section {
  padding: 120px 0;
}
.team-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: var(--basic-margin);
}
.team-title {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-item {
  width: calc((100%-60px) / 3);
}

.team-content {
  padding: 30px;
}
.team-item-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  margin-bottom: 8px;
}
.team-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.team-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: #fff;
  color: #303030;
  border-radius: 50%;
}
.team-social-link:hover,
.team-social-link:focus {
  color: var(--accent-color);
}
.social-icon {
  fill: currentColor;
}
/* Section Gallery */
.gallery-section {
  padding: 120px 0;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-subtitle {
  color: var(--secondary-title-color);
  margin-bottom: 44px;
}
/* Section Contacts */
.contacts-section {
  padding: 130px 0 120px;

  background-image: url(../img/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50% 100%;
  background-color: #191c26;
}
.contacts-container {
  display: flex;
}
.contacts-form {
  width: 50%;
}
.form-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}
.contacts-wrap {
  width: 50%;
  padding-left: 100px;
}
.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}
.contacts-item {
  display: flex;
  gap: 16px;
}
.contacts-item:not(:first-child) {
  align-items: center;
}
.contacts-icon {
  margin-top: 10px;
}
.contacts-address {
  margin-bottom: 70px;
}
.contacts-link {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #9da4bd;
}
.mail-link,
.tel-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contacts-item {
  margin-bottom: var(--basic-margin);
}
.contacts-subtitle {
  color: var(--main-title-color);
  margin-bottom: var(--basic-margin);
  text-transform: uppercase;
}
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* Footer */
.footer {
  padding: 56px 0;
  background-color: #f7f7f7;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-list::before {
  content: " ";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-title-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
